.container {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 10px;

    .HeaderLink {
        float: left;
        padding: 0 8px 0 8px;
        font-size: 12px;
        color: #AAA;
        font-family: Arial, Helvetica, Helvetica Neue, serif;
        cursor: default;
    }
}